head {
       
}


.header {
    background-color: tan;
    text-align: center;
    padding: 20px;

}


.img-fluid {
    width: 100%;
    height: auto;

}

.vase2 {
    max-width: 300px;
  
    width: auto;
    padding: 100px; 
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.img {
    width: 100%;
    height: auto;
}

body {
    margin: 0;

}


.en {
background-color: antiquewhite;
padding: 1px;
text-align: center;
}

section { 
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 25px;
}


    main {
    margin: auto;



    max-width: 1200px;
    width: 40%;

}

footer {
    width: 100%;
}
nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    display: block;
    padding: 20px 10px;
    transition: all ease 1s;
}

nav a:hover {
    background-color: gray;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;

}

nav {

    margin: auto;
    max-width: 1200px;
    width: 100%;
    /*padding: 5px 20px; */
}

.RHead {

    padding: 25px;
    background-color: antiquewhite;
    text-align: center;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    display: block;
    padding: 15px;
    transition: all ease 1s;
        background-color: black;

    
}

a {
    color: white;
}

nav a:hover     {
    background-color: gray;
}


.beach {
    max-width: 300px;
  
    width: auto;
    padding: 100px; 
}

.pathways {
    max-width: 300px;
  
    width: auto;
    padding: 100px; 
}

.snowman {
    max-width: 300px;
  
    width: auto;
    padding: 100px; 
}

.tree {
    max-width: 300px;
  
    width: auto;
    padding: 100px; 
}

.placeholder {
    max-width: 300px;
  
    width: auto;
    padding: 100px; 
}

.img-fluid {
    max-width: 300px;
  
    width: auto;
    padding: 100px; 
}

.img {
    max-width: 300px;
  
    width: auto;
    padding: 100px; 
}
