* {
    box-sizing: border-box;
}


/* This ruleset changes the background color of the whole website */

body {
    background-color: blanchedalmond;
    border: 1px transparent;
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}

header {
    background-color: burlywood;
    padding: 25px;
    border: 5px solid white;
    color: white;
    max-width: 1200px;
    margin: auto;
    text-align: center;
    width: 100%;
}


header {
    font-family: 'Cinzel Decorative', sans-serif;
}

main {
    margin: auto;
    background-color: rgb(168, 141, 106);
    padding: 30px;
    max-width: 1200px;
    width: 40%;

}
img {
    display: block;
    margin: auto;
}

footer {
    margin: auto;
    background-color: aquamarine;
    padding: 25px;
    max-width: 1200px;
}





.bigger {
    font-size: 72px;
    color: darkgray;
}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    display: block;
    padding: 20px 10px;
    transition: all ease 1s;
}

nav a:hover {
    background-color: gray;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;

}

nav {

    margin: auto;
    max-width: 1200px;
    width: 100%;
    /*padding: 5px 20px; */
}

footer {
    width: 100%;
}

ul {
    text-align: center;
    
}

p {color: tan;}

.img-fluid {
    width: 100%;
    height: auto;
}
.img-wrapper {
    display: block;
}

.img-big {
    max-width: 500px;
}

.img-center {
    margin: auto;
}
.img-right {
    margin-right: 0;
    margin-left: auto;
}

footer {
    width: 100%;
    background-color: rgb(126, 102, 77);
    color: saddlebrown;
    text-align: right;
}

p { 
    color: blanchedalmond;
    font-family: cursive;
}

.child {
    position: absolute;
    bottom: 0;
    left: 0;
}