body {
    background-color: blanchedalmond;
    font-family: fantasy;
}




header {
    background-color: tan;
color: aliceblue;
 padding: 15px;
 border: 25px whitesmoke;

margin: auto;

font-family: fantasy;
}

footer {

    text-align: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
 
}

.child {
position: absolute;




}

